@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import "~@fortawesome/fontawesome-pro/css/all.min.css";

.bull-logo{
	height: 80px;
	object-fit: cover;
	border-radius: 100%;
}